<h1 class="animated fadeIn fast">Héroes <small>Marvel y DC</small></h1>
<hr />
<div class="card-group">
  <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i = index">
    <img class="card-img-top img-fluid" [src]="hero.img" [alt]="hero.nombre" />
    <div class="card-block">
      <h4 class="card-title">{{ hero.nombre }}</h4>
      <p class="card-text">{{ hero.bio }}</p>
      <div class="d-grid gap-2">        
        <button class="btn btn-outline-primary" (click)="verHeroe(i)">Ver más</button>
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más...</a> -->
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ hero.aparicion }}</small>
      </div>
    </div>
  </div>
</div>
